<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %} Tic Task Toe {% endblock %} {% block extra_title %} {% endblock %}
  </title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  {% include "header.html" %}
  {% block extra_content %}
  {% endblock %}

  <div class="main-container">
    {% block content %}
	{% endblock %}
  </div>
</body> 
</html>

