{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-center mb-3">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Tic Task Toe</a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.is_authenticated %} <a class="navbar-brand my-2 my-lg-0" href="/projects">Projects</a> {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated and project %} <a class="navbar-brand my-2 my-lg-0" href="/logs/{{ project.ID }}">Activities</a> {% endif %}
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.is_authenticated %} <p class="navbar-brand my-2 my-lg-0">Hello, {{ user.username }}!</p> {% endif %}
        {% if not user.is_authenticated %} <a class="nav-link my-2 my-lg-0" href="/login">Sign in</a> {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %} <a class="nav-link my-2 my-lg-0" href="/logout">Sign out</a> {% endif %}
        {% if not user.is_authenticated %} <a class="nav-link my-2 my-lg-0" href="/registration">Sign up</a> {% endif %}
      </li>
    </ul>

</nav>

{% endblock %}
