{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="" style="width:2000px">
    <h2 class="display-1 text-center">{{ user.username }}!</h2>
    <h1 class="display-1 text-center">Welcome to tic-task-toe!</h1>
    <h4 class="display-4 text-center">You use test version of a greate task planning application!</h4>
</div>

{% endblock %}
