{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card mx-auto" style="width:400px">
  <img class="card-img-top d-block" src="{% static "images/img_avatar1.png" %}" alt="Card image">
      <div class="card-body">
    <form method="POST">
        {% csrf_token %}
         <div class="form-group">
           <label for="usr">Username:</label>
           <input type="text" class="form-control" id="usr" name="usr">
         </div>
         <div class="form-group">
           <label for="pwd">Password:</label>
           <input type="password" class="form-control" id="pwd" name="pwd">
         </div>
          <button type="submit" href="/login" class="btn btn-primary btn-block">Sign in</button>
          <h4 style="color: red">{{ error_message }}</h4>
          <div class="form-group text-center ">
           <label >Don't have an account yet? </label>
              <a href="/registration">Create account</a>
          </div>
    </form>
      </div>
</div>

{% endblock %}
