{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h2 class="text-center">User "{{ user.username }}" activities</h2>
  <p style="color: red">{{ error.desc }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Activities</th>
      </tr>
    </thead>
    <tbody>
    {% for log in logs %}
      <tr>
        <td>
            <p>
               <div>
                   {{ log.title }}
               </div>
            </p>
        </td>
        <td>
            <p>
               <div>
                   {{ log.body }}
               </div>
            </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
