{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h2 class="text-center">Projects</h2>
  <p class="text-center">Projects you belong to:</p>
    <p style="color: red">{{ error.desc }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Creation time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td>
            <a href="/project/{{ project.ID }}">
               <div>
                   {{ project.title }}
               </div>
            </a>
        </td>
        <td>{{ project.creation_time }}</td>
        <td>
            <div class="btn-group mr-2">
                <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editProjectModal{{project.ID}}">Edit</button>
            </div>
            <div class="btn-group mr-2">
                <form action="/projects" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block" name="delete_project" value="{{ project.ID }}">Delete</button>
                </form>
            </div>
        </td>
      </tr>


<div class="modal fade" id="editProjectModal{{project.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Edit project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/projects">
        {% csrf_token %}
          <div class="modal-body">
             <div class="form-group">
               <label>Project title:</label>
               <input type="text" class="form-control" name="title" value="{{ project.title }}">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="edit_project" value="{{ project.ID }}">Edit</button>
          </div>
      </form>
    </div>
  </div>
 </div>

    {% endfor %}
      <tr><td colspan="3">
       <div>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addProjectModal">
                + Add new project
            </button>

<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/projects">
        {% csrf_token %}
          <div class="modal-body">
              <!--<input type="hidden" id="create_project" name="create_project"/>-->
             <div class="form-group">
               <label for="title">Project title:</label>
               <input type="text" class="form-control" id="title" name="title">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="create_project" value="add">Add</button>
          </div>
      </form>
    </div>
  </div>
 </div>

       </div>
      </td></tr>
    </tbody>
  </table>
</div>

{% endblock %}
