{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card mx-auto" style="width:400px">
  <img class="card-img-top d-block" src="{% static "images/img_avatar1.png" %}" alt="Card image">
    <form method="post">
        {% csrf_token %}
      <div class="card-body">
          <div class="form-group">
           <label for="email">E-mail:</label>
           <input type="text" class="form-control" id="email" name="mail">
         </div>
         <div class="form-group">
           <label for="usr">Username:</label>
           <input type="text" class="form-control" id="usr" name="username">
         </div>
         <div class="form-group">
           <label for="pwd1">Password:</label>
           <input type="password" class="form-control" id="pwd1" name="password1">
         </div>
          <div class="form-group">
           <label for="pwd2">Confirm password:</label>
           <input type="password" class="form-control" id="pwd2" name="password2">
         </div>
          <button type="submit" class="btn btn-primary btn-block">Registration</button>
          <h4 style="color: red">{{ error_message }}</h4>
      </div>
    </form>
</div>

{% endblock %}
