{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h2 class="text-center">Project: {{ project.title }}</h2>
  <p class="text-center">Project "{{ project.title }}" consists of the following tasklists:</p>
  <p style="color: red">{{ error.desc }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task List</th>
        <th>Priority</th>
        <th>Creation time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for tasklist in tasklists %}
      <tr>
        <td>
            <a href="/tasklists/{{ tasklist.ID }}">
               <div>
                   {{ tasklist.title }}
               </div>
            </a>
        </td>
        <td>{{ tasklist.priority }}</td>
        <td>{{ tasklist.creation_time}}</td>
        <td>
            <div class="btn-group mr-2">
                <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editTasklistModal{{tasklist.ID}}">Edit</button>
            </div>
            <div class="btn-group mr-2">
                <form action="/project/{{ project.ID }}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block" name="delete_tasklist" value="{{ tasklist.ID }}">Delete</button>
                </form>
            </div>
        </td>
      </tr>

<div class="modal fade" id="editTasklistModal{{tasklist.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Edit tasklist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/project/{{project.ID}}">
        {% csrf_token %}
          <div class="modal-body">
             <div class="form-group">
               <label>Tasklist title:</label>
               <input type="text" class="form-control" name="title" value="{{ tasklist.title }}">
             </div>
             <div class="form-group">
               <label>Tasklist priority:</label>
               <input type="text" class="form-control" name="priority" value="{{ tasklist.priority }}">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="edit_tasklist" value="{{ tasklist.ID }}">Edit</button>
          </div>
      </form>
    </div>
  </div>
 </div>

    {% endfor %}
      <tr><td colspan="4">
       <div>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addTasklistModal">
           + Add new tasklist
        </button>





<div class="modal fade" id="addTasklistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add tasklist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/project/{{project.ID}}">
        {% csrf_token %}
          <div class="modal-body">
             <div class="form-group">
               <label for="title">Tasklist title:</label>
               <input type="text" class="form-control" id="title" name="title">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="create_tasklist" value="add">Add</button>
          </div>
      </form>
    </div>
  </div>
 </div>

       </div>
      </td></tr>
    </tbody>
  </table>
</div>

{% endblock %}
