{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <h2 class="text-center">Tasklist {{ tasklist_name }}</h2>
  <p class="text-center">Tasklist "{{ tasklist_name }}" consists of the following tasks:</p>
    <p style="color: red">{{ error.desc }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Period</th>
        <th>Description</th>
        <th>Creation time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>
            <a href="#">
               <div>
                   {{ task.title }}
               </div>
            </a>
        </td>
        <td>{{ task.priority }}</td>
        <td>{{ task.period }}</td>
        <td>{{ task.desc }}</td>
        <td>{{ task.creation_time }}</td>
        <td>
            <div class="btn-group mr-2">
                <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editTaskModal{{task.ID}}">Edit</button>
            </div>
            <div class="btn-group mr-2">
                <form action="/tasklists/{{ tasklist_id }}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block" name="delete_task" value="{{ task.ID }}">Delete</button>
                </form>
            </div>
        </td>
      </tr>


<div class="modal fade" id="editTaskModal{{task.ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Edit tasklist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/tasklists/{{tasklist_id}}">
        {% csrf_token %}
          <div class="modal-body">
             <div class="form-group">
               <label>Task title:</label>
               <input type="text" class="form-control" name="title" value="{{ task.title }}">
             </div>
             <div class="form-group">
               <label>Task description:</label>
               <input type="text" class="form-control" name="desc" value="{{ task.desc }}">
             </div>
             <div class="form-group">
               <label>Task priority:</label>
               <input type="text" class="form-control" name="priority" value="{{ task.priority }}">
             </div>
             <div class="form-group">
               <label>Task period:</label>
               <input type="text" class="form-control" name="period" value="{{ task.period }}">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="edit_task" value="{{ task.ID }}">Edit</button>
          </div>
      </form>
    </div>
  </div>
 </div>

    {% endfor %}
      <tr><td colspan="6">
       <div>
           <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addTaskModal">
                + Add new task
           </button>


<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form method="POST" action="/tasklists/{{tasklist_id}}">
        {% csrf_token %}
          <div class="modal-body">
             <div class="form-group">
               <label for="title">Task title:</label>
               <input type="text" class="form-control" id="title" name="title">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="create_task" value="add">Add</button>
          </div>
      </form>
    </div>
  </div>
 </div>


       </div>
      </td></tr>
    </tbody>
  </table>
</div>

{% endblock %}
